body {
    margin: 0;
}

.fullhead, .information {
    padding: 0 15% 15% 15%;
}

.fullhead {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    
}

.nav {
    display: flex;
    gap: 10px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
}

.header2 {
    display: flex;
    gap: 50px;
    align-items: center;
    padding-top: 100px;
    flex: 1 1 0;
    
}

.subtext {
    
}

.subtexthead {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-bottom: 0;
    padding-bottom: 0;
}

.subtextdesc {
    font-size: 18px;
    color: #E5E7EB;
}

.drone {
    max-width: 100%;
    max-height: auto;
    border-radius: 2px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 5px 20px 5px 20px;
}

.infohead {
    text-align: center;
    font-size: 36px;
    font-weigh: extra-bold;
    color: #1f2937;
}

.lineup {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 15% 0 15%;
}

.infoimg {
    max-width: 100%;
    width: 200px;
    height: auto;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 12px;
}

.quote {
    background-color: #E5E7EB;
    padding: 5% 25% 5% 25%;
    color: #1F2937;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quoter {
    font-weight: bold;
    text-align: right;
    font-size: 26px;
}

.action {
    display: flex;
    justify-content: center;
    margin: 5% 10% 5% 10%;
}

.banner {
    display: flex;
    background-color: #3882F6;
    color: white;
    padding: 5% 10% 5% 10%;
    gap: 20%;
    align-items: center;
    width: 800px;
    border-radius: 8px;
}

.signtwo {
    border: solid;
    border-width: 2px;
    border-color: white;
    width: 125px;
    padding: -5px 5px -5px 5px;
}

.copyright {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}